<mat-slide-toggle (change)="toggleDarkMode()">
    מצב כהה
  </mat-slide-toggle>
<div class="form-container">
  <form #form="ngForm">
    <!-- שם משתמש -->
    <label for="name">שם משתמש:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required /><br><br>

    <!-- סיסמה -->
    <label for="password">סיסמא:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required /><br><br>

    <!-- כפתור כניסה -->
    <button type="button" (click)="goToNextPage()" [disabled]="form.invalid">כניסה</button>
    
  </form>
</div>
