.btn-details {
    background-color: #ed8888;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.unpaid-row {
    background-color: #ed8888 !important;
    color: white !important;
}
  
  
